
.menu{
    width: 35px;
    height: 5px;
    background-color: black;
    margin : 5px 0; 
    
}

.nav{
      display: flex;
      justify-content: space-between;
        /* flex-direction: row-reverse; */
}

